<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="riakConfig" type="RiakClient.Config.RiakClusterConfiguration, RiakClient" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <riakConfig nodePollTime="5000" defaultRetryWaitTime="200" defaultRetryCount="3">
    <nodes>
      <node name="riak@10.0.0.2" hostAddress="172.21.24.37" pbcPort="8087"  poolSize="1000" externalLoadBalancer="true" />
    </nodes>
  </riakConfig>
</configuration>