[submodule "Sigma-RabbitMQ-Interface"]
	path = Sigma-RabbitMQ-Interface
	url = git@github.com:360iLondon/Sigma-RabbitMQ-Interface.git
[submodule "Sigma-Types-Job"]
	path = Sigma-Types-Job
	url = git@github.com:360iLondon/Sigma-Types-Job.git
[submodule "Sigma-Types-DataDog"]
	path = Sigma-Types-DataDog
	url = git@github.com:360iLondon/Sigma-Types-DataDog.git
[submodule "Sigma-Lib-Union"]
	path = Sigma-Lib-Union
	url = git@github.com:360iLondon/Sigma-Lib-Union.git
[submodule "Sigma-Types-Protocol"]
	path = Sigma-Types-Protocol
	url = git@github.com:360iLondon/Sigma-Types-Protocol.git
[submodule "Sigma-Types-API-Microservices"]
	path = Sigma-Types-API-Microservices
	url = git@github.com:360iLondon/Sigma-Types-API-Microservices.git
[submodule "Sigma-Lib-Lists"]
	path = Sigma-Lib-Lists
	url = git@github.com:360iLondon/Sigma-Lib-Lists.git
